{% load proj_core %}

<div class="panel panel-default">
    <section class="panel-body media">
        {% if post.community %}
        <a href="{% url 'community_detail' post.community.id %}" class="media-object pull-left">
            <img src="{% community_image post.community 80 %}"
                 class="img-circle feed-avatar"/>
        </a>
        {% else %}
        <a href="{% url 'user_detail' post.sender.id %}" class="media-object pull-left">

                <img src="{% avatar post.sender 80 %}"
                    class="img-circle feed-avatar"/>

        </a>
        {% endif %}
        <div class="media-body">
            {% if post.community %}
                <a href="{% url 'community_detail' post.community.id %}">
                    {{ post.community.name }}
                </a>
            {% else %}
                <a href="{% url 'user_detail' post.sender.id %}">
                    {{ post.sender.full_name }}
                </a>
            {% endif %}
            <div class="feed-post-content">
                {{ post.content|safe }}
            </div>

            <p class="text-muted">

                {% if post.community %}
                    <a href="{% url 'user_detail' post.sender.id %}" class="text-muted">
                        <i class="fa fa-user"></i> {{ post.sender.full_name }}
                    </a> |
                {% endif %}
                {{ post.date }} |
                <a href="{% url 'feed_detail' post.id %}">
                    <i class="fa fa-comment-o"></i> Комментировать
                </a>

            </p>
        </div>
    </section>
</div>
