{% load proj_core %}
<div class="navbar navbar-default navbar-fixed-top">

        <ul class="nav navbar-nav">
            <li>
                <a class="sidebar-toggler" href="#">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
        </ul>

        <a class="navbar-brand" href="/">Taskz</a>

        {% if user.is_authenticated %}
            {% user_notifications user as unread %}
            <p class="navbar-text navbar-right">
                <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>  Выйти</a>
            </p>
            <ul class="nav navbar-nav navbar-right">
                {% if unread|length %}
                <li class="dropdown">
                    <a href="{% url 'dialog_list' %}" title="Сообщения" class="dropdown-toggle"
                       data-toggle="dropdown">
                        <i class="fa fa-envelope fa-lg"></i>
                        <span class="label label-danger">{{ unread|length }}</span>
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        {% for msg in unread %}
                            <li>
                                <a href="{% url 'dialog_list' msg.sender.id %}">
                                    <b>{{ msg.sender }}</b><br/>
                                    {{ msg.message|truncatechars:15 }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'dialog_list' %}" title="Сообщения">
                        <i class="fa fa-envelope fa-lg"></i>
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'user_detail' user.id %}" title="Профиль">
                        <img src="{% avatar user 32 %}" class="img-circle" style="margin: -8px 0;"/>
                    </a>
                </li>
            </ul>
        {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="{% url 'login' %}">
                    <i class="fa fa-sign-in"></i> Войти
                </a>
            </li>
        </ul>
        <p class="navbar-text navbar-right">Уже с нами?</p>
        {% endif %}

</div>
