<div class="navbar navbar-default navbar-static-top">

        <ul class="nav navbar-nav">
            <li>
                <a class="sidebar-toggler" href="#">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
        </ul>

        <a class="navbar-brand" href="/">Taskz</a>

        {% if user.is_authenticated %}
        <p class="navbar-text navbar-right">
            <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>  Выйти</a>
        </p>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="{% url 'feed_list' %}" title="Сообщения">
                    <i class="fa fa-envelope fa-lg"></i>
                </a>
            </li>
            <li>
                <a href="{% url 'user_detail' user.id %}" title="Профиль">
                    <i class="fa fa-user fa-lg"></i>
                </a>
            </li>
        </ul>
        {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="{% url 'login' %}">
                    <i class="fa fa-sign-in"></i> Войти
                </a>
            </li>
        </ul>
        <p class="navbar-text navbar-right">Уже с нами?</p>
        {% endif %}

</div>
