{% extends 'message/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Сообщения{% endblock %}

{% block msgcontent %}
{% if form %}
<div class="chat-room">
    <div class="chat">
        {% for message in chat.all %}
        <div class="media">
            <a href="{% url 'user_detail' message.sender.id %}" class="media-object pull-left">
                <img src="{{ message.sender.avatar_url }}" class="img-circle" width="60"/>
            </a>
            <div class="media-body">
                <a href="{% url 'user_detail' message.sender.id %}">{{ message.sender }}</a>,
                <span class="text-muted">{{ message.date }}</span>
                <p>{{ message.message }}</p>
            </div>
        </div>
        {% empty %}
        <p class="text-center text-muted">Сообщений нет</p>
        {% endfor %}
    </div>
    <div class="inputs">
        <div class="media">
            <img src="{{ user.avatar_url }}" class="img-circle media-object pull-left" width="60"/>
            <div class="media-body">
                {% crispy form %}
            </div>
        </div>

    </div>
</div>
{% else %}
    <div class="alert alert-warning">
        Выберите собеседника
    </div>
{% endif %}

{% endblock %}
