{% extends 'base.html' %}

{% block commoncontent %}



    <div id="all">
        {% include 'includes/navbar.html' %}
        <div id="content">
            <div class="container-fluid">
                {% for message in messages %}
                <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    {{ message }}
                </div>
                {% endfor %}
                {% block content %}{% endblock %}
            </div>

        </div>

    </div>
    <aside id="sidebar">

        {% if user.is_authenticated %}

        <ul class="sidebar-menu">
            <li>
                <a href="{% url 'user_detail' user.id %}" title="Юзер">
                    <i class="fa fa-user"></i> Юзер
                </a>
            </li>
            <li>
                <a href="{% url 'feed_list' %}" title="Лента">
                    <i class="fa fa-list"></i> Лента
                </a>
            </li>
            <li{% ifequal request.resolver_match.app_name 'community' %} class="active"{% endifequal %}>
                <a href="{% url 'community_list' %}" title="Сообщества">
                    <i class="fa fa-group"></i> Сообщества
                </a>
            </li>
            <li{% ifequal request.resolver_match.app_name 'project' %} class="active"{% endifequal %}>
                <a href="{% url 'project_list' %}" title="Проекты">
                    <i class="fa fa-sitemap"></i> Проекты
                </a>
            </li>
            <li{% ifequal request.resolver_match.app_name 'task' %} class="active"{% endifequal %}>
                <a href="{% url 'task_list' %}" title="Задачи">
                    <i class="fa fa-tasks"></i> Задачи
                </a>
            </li>
        </ul>
        {% endif %}
    </aside>



{% endblock %}
