{% extends 'base.html' %}

{% block commoncontent %}
    <div class="row">
        <div class="col-md-9 col-md-push-3">

            {% block content %}{% endblock %}
        </div>
        <div class="col-md-3 col-md-pull-9">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{% url 'user_detail' 2 %}">
                        <i class="fa fa-user"></i> Юзер
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'feed_list' %}">Лента</a>
                </li>
            </ul>
        </div>
    </div>


{% endblock %}
