{% extends 'base_inner.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Задача{% endblock %}

{% block content %}

<ul class="breadcrumb">
    <li><a href="{% url 'task_list' %}">Задачи</a></li>
    <li class="active">{{ object.title|truncatechars:50 }}</li>
</ul>
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4 class="page-header">{{ object.title }}
                    <br/>
                <small>Создана: {{ object.date_created }}</small></h4>
                <div class="row">
                    <div class="col-md-6">
                        <p><i class="fa fa-user"></i> <b>Заказчик:</b> {{ object.reporter }}</p>
                        <p><i class="fa fa-file-o"></i> <b>Статус:</b> <span class="badge">{{ object.get_status_display }}</span></p>
                        <p><i class="fa fa-clock-o"></i> <b>Срок:</b> {{ object.date_due }}</p>
                        <p><i class="fa fa-signal"></i> <b>Приоритет:</b> {{ object.get_priority_display }}</p>
                    </div>
                    <div class="col-md-6">
                        <p><i class="fa fa-sitemap"></i> <b>Проект:</b>
                            {% if object.project %}
                                <a href="{% url 'project_detail' object.project_id %}">{{ object.project }}</a>
                            {% else %}
                                <span class="text-muted">Нет проекта</span>
                            {% endif %}</p>

                        <p><i class="fa fa-flag"></i> <b>Веха:</b>
                            {% if object.milestone %}
                                <a href="{% url 'project_detail' object.milestone.project_id %}">{{ object.milestone }}</a>
                            {% else %}
                                <span class="text-muted">Нет вехи</span>
                            {% endif %}
                        </p>
                        <p>
                            <i class="fa fa-user"></i> <b>Исполнитель:</b>
                            {% if object.assignee %}
                                <a href="{% url 'project_detail' object.assignee_id %}">{{ object.assignee }}</a>
                            {% else %}
                                <span class="text-muted">Нет исполнителя</span>
                            {% endif %}
                        </p>
                    </div>
                </div>
                {% if object.tags.all %}
                    <p><i class="fa fa-tags"></i> Метки:
                        {% for tag in object.tags.all %}
                        <a href="#"><span class="label label-warning">{{ tag.name }}</span></a>
                        {% endfor %}
                    </p>
                {% endif %}
                <hr/>
                <p><strong>Описание:</strong></p>
                <p>{{ object.description|default_if_none:''|linebreaks }}</p>
                <hr/>

                {% if object.reporter == user %}
                    <a href="{% url 'task_edit' object.id %}" class="btn btn-default">
                        <i class="fa fa-edit"></i> Редактировать
                    </a>
                {% else %}

                    {% if not user in object.repliers.all %}
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="reply-task" value="{{ object.id }}">
                            <button type="submit" class="btn">
                                <i class="fa fa-reply"></i> Откликнуться
                            </button>
                        </form>
                        <hr/>
                    {% elif user != object.assignee %}
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="reply-task" value="{{ object.id }}">
                            <i class="fa fa-star"></i> Вы откликнулись на эту задачу.
                            <button type="submit" class="btn btn-link">
                                <i class="fa fa-times"></i> Отказаться
                            </button>
                        </form>
                        <hr/>
                    {% endif %}

                {% endif %}


                {% if object.comments.comment_feed|length > 0 %}
                    <h4><i class="fa fa-comments-o"></i> Комментарии ({{ object.comments.all|length }}):</h4>
                    {% for comment in object.comments.all %}
                        <div class="media">
                            <a name="c{{ comment.id }}"></a>
                            <a href="{% url 'user_detail' comment.user.id %}" class="media-object pull-left">
                                <img src="{% static comment.user.avatar_url %}" width="60" class="img-circle"/>
                            </a>
                            <div class="media-body">
                                <a href="{% url 'user_detail' comment.user.id %}">
                                    {{ comment.user.full_name }}
                                </a>
                                <div class="feed-post-content">{{ comment.comment|linebreaks }}</div>
                                <p class="text-muted">{{ comment.date }}</p>

                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h4><i class="fa fa-comments-o"></i> Комментариев нет</h4>
                {% endif %}
                {% crispy commentform %}
            </div>
        </div>

    </div>
    <div class="col-md-4">
        {% if object.reporter == user %}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4 class="page-header">Отклики ({{ object.repliers.all|length }})</h4>
                <div class="list-group">
                {% for u in object.repliers.all %}
                    <div class="list-group-item{% if u == object.assignee %} list-group-item-warning{% endif %}">
                        <div class="media">
                            <a href="{% url 'user_detail' u.id %}" class="media-object pull-left">
                                <img src="{% static u.avatar_url %}" width="40" class="img-circle"/>
                            </a>
                            <div class="media-body">
                                <form method="post" class="pull-right">
                                    {% csrf_token %}
                                    <input type="hidden" name="assign-user" value="{{ u.id }}"/>
                                    {% if u == object.assignee %}
                                        <button type="submit" class="btn btn-default btn-sm" title="Снять с выполнения задачи">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    {% else %}
                                        <button type="submit" class="btn btn-default btn-sm" title="Назначить исполнителем">
                                            <i class="fa fa-arrow-circle-o-right"></i>
                                        </button>
                                    {% endif %}
                                </form>
                                <a href="{% url 'user_detail' u.id %}">{{ u.full_name }}</a>
                                {% if u.city %}
                                <br/>
                                <span class="text-muted">
                                    <i class="fa fa-map-marker"></i> {{ u.city }}
                                </span>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p class="text-muted list-group-item">
                    Откликов пока нет
                    </p>
                {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
