{% extends 'base_inner.html' %}
{% load crispy_forms_tags %}

{% block title %}Задачи{% endblock %}

{% block content %}
    <h3>Задачи</h3>
    <ul class="nav nav-pills compact">
        <li{% if not request.GET.status %} class="active"{% endif %}>
            <a href="{% url 'task_list' %}">Все</a>
        </li>
        <li{% if request.GET.status == 'new' %} class="active"{% endif %}>
            <a href="{% url 'task_list' %}?status=new">Новые</a>
        </li>
        <li{% if request.GET.status == 'open' %} class="active"{% endif %}>
            <a href="{% url 'task_list' %}?status=open">Открытые</a>
        </li>
        <li{% if request.GET.status == 'resolved' %} class="active"{% endif %}>
            <a href="{% url 'task_list' %}?status=resolved">Выполненные</a>
        </li>
        <li{% if request.GET.status == 'closed' %} class="active"{% endif %}>
            <a href="{% url 'task_list' %}?status=closed">Закрытые</a>
        </li>

    </ul>
    {% crispy form %}<br/>
<div class="row">
    <div class="col-md-8">
        {% for task in object_list %}
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8">
                        <h3>
                            <a href="{% url 'task_detail' task.id %}">{{ task.title }}</a>
                        </h3>
                        {% if task.tags.all %}
                            <p>
                                {% for tag in task.tags.all %}
                                    <a href="#"><span class="label label-warning">{{ tag.name }}</span></a>
                                {% endfor %}
                            </p>
                        {% endif %}
                        <p>Создана: {{ task.date_created }} {% if task.reporter == user %}
                            <a href="{% url 'task_edit' task.id %}">Редактировать</a>
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-md-4 text-right">
                        <h3 class="text-info">{{ task.price|floatformat:2 }} {{ task.currency }}</h3>
                        <p>
                            Статус: <span class="badge">{{ task.get_status_display }}</span>
                        </p>
                    </div>
                </div>

            </div>
        </div>
        {% empty %}
            <section class="panel panel-default">
                <div class="panel-body media">
                    <div class="alert alert-warning">
                        Здесь будут размещаться ваши Задачи. <a href="{% url 'task_edit' %}">Создать новую&hellip;</a>
                    </div>
                </div>
            </section>
        {% endfor %}
        {% include 'includes/pagination.html' %}
    </div>

</div>

{% endblock %}
