{% extends 'base_inner.html' %}
{% load proj_core %}

{% block title %}Сообщества{% endblock %}

{% block content %}
    <h3>Сообщества</h3>
    <ul class="nav nav-pills compact">
        <li{% if not request.GET.filter %} class="active"{% endif %}>
            <a href="{% url 'community_list' %}">Все</a>
        </li>
        <li{% if request.GET.filter == 'following' %} class="active"{% endif %}>
            <a href="{% url 'community_list' %}?filter=following">Я подписан</a>
        </li>
        <li{% if request.GET.filter == 'member' %} class="active"{% endif %}>
            <a href="{% url 'community_list' %}?filter=member">Я участвую</a>
        </li>
    </ul>
    {% for community in object_list %}
    <section class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <a href="{% url 'community_detail' community.id %}" class="pull-left media-object">
                    <img src="{% community_image community 80 %}" class="img-thumbnail" width="200"/>
                </a>
                <div class="media-body">
                    <h3>
                        <a href="{% url 'community_detail' community.id %}">{{ community.name }}</a>
                    </h3>
                    <p>{{ community.description|striptags|truncatewords:10 }}</p>
                    {% if community.tags.all %}
                        <p><i class="fa fa-tags"></i> Метки:
                            {% for tag in community.tags.all %}
                            <a href="#"><span class="label label-warning">{{ tag.name }}</span></a>
                            {% endfor %}
                        </p>
                    {% endif %}
                    <p class="text-muted">
                        <i class="fa fa-user"></i> Участников:
                        <a href="{% url 'community_users' community.id %}">{{ community.users.all|length }}</a>
                    </p>

                </div>
            </div>
        </div>
    </section>
    {% empty %}
    <section class="panel panel-default">
        <div class="panel-body media">
            <div class="alert alert-warning">
                Здесь будут размещаться сообщества, в которых вы участвуете.
            </div>
        </div>
    </section>
    {% endfor %}

{% include 'includes/pagination.html' %}
{% endblock %}
