{% extends 'base_inner.html' %}
{% load crispy_forms_tags %}
{% load proj_core %}

{% block title %}Редактирование сообщества{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{% url 'community_list' %}">Сообщества</a></li>
        {% if form.instance.id %}
            <li><a href="{% url 'community_detail' form.instance.id %}">{{ form.instance.name }}</a></li>
            <li class="active">Редактирование</li>
        {% else %}
            <li class="active">Создать сообщество</li>
        {% endif %}
    </ul>
    <article class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    {% crispy form %}
                </div>
                <div class="col-md-4">
                    {% if form.instance.image %}
                    <img src="{% community_image form.instance 200 %}" width="200" class="thumbnail"/>
                    {% endif %}
                </div>
            </div>

        </div>
    </article>

{% endblock %}
