{% extends 'base_inner.html' %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
    <article class="panel panel-default">
        <div class="panel-body">
            <div class="pull-right">
                {% if not object in user.communities.all %}
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="follow-community" value="{{ object.id }}">
                        <button type="submit" class="btn">
                            <i class="fa fa-star"></i> Подписаться
                        </button>
                    </form>
                {% else %}
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="follow-community" value="{{ object.id }}">
                        <i class="fa fa-star"></i> Вы подписаны на {{ object.name }}.
                        <button type="submit" class="btn btn-link">
                            Отписаться
                        </button>
                    </form>
                {% endif %}
            </div>
            <h3 class="page-header">{{ object.name }}</h3>
            <p>{{ object.description|linebreaks }}</p>
            {% if object.tags.all %}
                <p><i class="fa fa-tags"></i> Метки:
                    {% for tag in object.tags.all %}
                    <a href="#"><span class="label label-warning">{{ tag.name }}</span></a>
                    {% endfor %}
                </p>
            {% endif %}
            <hr>
            {% if user == object.admin %}
                <a href="{% url 'community_edit' object.id %}">
                    <i class="fa fa-edit"></i> Редактировать
                </a>
            {% endif %}
        </div>
    </article>

    {% for post in userfeed %}
    {% include 'includes/feed.html' %}
    {% empty %}
    <section class="panel panel-default">
        <div class="panel-body media">
            <div class="alert alert-warning">
                Здесь будут размещаться последние записи сообщества {{ object.name }}.
            </div>
        </div>
    </section>
    {% endfor %}
{% endblock %}
