html, body {
    height: 100%;
}

.all {
    height: auto;
    margin: 0 auto -60px;
    min-height: 100%;
    padding: 0 0 60px;
    background: url("/static/tasks/img/sos.png");
}

footer {
    height: 60px;
    border-top: 3px solid #efefef;
    background: url("/static/tasks/img/outlets.png") #222;
    color: #999;
}

.navbar-inverse {
    background: url("/static/tasks/img/outlets.png") #222;
}

.list-unstyled ul {
    padding-left: 10px;
}

.feed-post-content {
    margin-bottom: 12px;
}

.feed-avatar {
    width: 80px;
    min-height: 1px;
}

.media.comment {
    padding-top: 10px;
    border-top: 1px solid #dedede;
}

.profile-avatar {
    max-width: 100%;
    min-height: 1px;
}
