html, body {
    height: 100%;
}

body {
    background: #fff;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

label {
    font-weight: normal;
}

.page-header {
    margin-top: 20px;
}

#all {
    margin-left: 250px;
    position: relative;
    z-index: 1;
    -webkit-transition: margin-left .3s;
    transition: margin-left .3s;
}

.sidebar-hidden #all {
    margin-left: 40px;
}

#content {
    padding: 10px;
}

#sidebar {
    width: 250px;
    position: fixed;
    height: 100%;
    background: #424242;
    top: 0px;
    overflow: hidden;
    -weblit-transition: width .3s;
    transition: width .3s;
}

.sidebar-hidden #sidebar {
    width: 40px;
}

.sidebar-menu {
    list-style: none;
    margin: 15px 0;
    padding: 0;
}

.sidebar-menu > li {
    display: block;
}

.sidebar-menu > li > a {
    display: block;
    padding: 12px;
    color: #999;
    text-decoration: none;
    white-space: nowrap;
}

.sidebar-menu > li > a:hover {
    color: #ccc;
    text-decoration: none;
    background: #2b2b2b;
}

.sidebar-menu > li > a .fa {color: #999;}
.sidebar-menu > li > a:hover .fa {color: #ccc;}

.sidebar-hidden .sidebar-menu > li > a {color: #424242;}
.sidebar-hidden .sidebar-menu > li > a:hover {color: #2b2b2b;}

.sidebar-hidden .sidebar-menu > li > a .fa {color: #999;}
.sidebar-hidden .sidebar-menu > li > a:hover .fa {color: #ccc;}

.list-unstyled ul {
    padding-left: 10px;
}

.feed-post-content {
    margin-bottom: 12px;
}

.feed-avatar {
    width: 80px;
    min-height: 1px;
}

.media.comment {
    padding-top: 10px;
    border-top: 1px solid #dedede;
}

.profile-avatar {
    max-width: 100%;
    min-height: 1px;
}

.nav-pills.compact {
    margin-bottom: 10px;
}

.nav-pills.compact > li > a {
    padding: 5px 10px;
}

#id_honeypot {
    display: none;
}

.tasks-panel {
    position: relative;
}

.tasks-panel:before {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    border-left: 1px solid #dedede;
    right: 0;
    top: 0;
}

.dynamic-form {
    display: none;
}

.chat-room {
    position: relative;
    padding-bottom: 160px;
}

.chat {
    height: 350px;
    overflow-y: auto;
}

.inputs {
    position: absolute;
    height: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #dedede;
    padding: 12px 0 0;
}
