{% extends 'proto/base_inner.html' %}

{% block title %}Лента{% endblock %}

{% block content %}
<ul class="nav nav-pills">
    <li class="active">
        <a href="#">Люди</a>
    </li>
    <li>
        <a href="#">Сообщества</a>
    </li>
</ul>
    <br/>
<div class="panel panel-default">
    <section class="panel-body media">
        <a href="#" class="media-object pull-left">
            <img src="http://dummyimage.com/80x80" class="img-circle"/>
        </a>
        <div class="media-body">
            <a href="#">Юзер Юзеровский</a>
            <div class="feed-post-content">
                fdsklhg sfd олварпывдола ыдлывора ывдфаорывдофлра ыварфды авыдфлоар д ывфда
                 фвылоавыфдарывфдора дывфрадыфвраывдфра дыловрадывф рывфдлоар ывдофа ывфа
                ф ывдаорвыдфоар вдыфрадвыф арфда дфавордвыфлоар
            </div>
            <p class="text-muted">5.01.2014 <a href="#">Комментировать</a></p>
        </div>
    </section>
</div>

<div class="panel panel-default">
    <section class="panel-body media">
        <a href="#" class="media-object pull-left">
            <img src="http://dummyimage.com/80x80" class="img-circle"/>
        </a>
        <div class="media-body">
            <a href="#">Юзер Юзеровский</a>
            <div class="feed-post-content">
                fdsklhg sfd олварпывдола ыдлывора ывдфаорывдофлра ыварфды авыдфлоар д ывфда
                 фвылоавыфдарывфдора дывфрадыфвраывдфра дыловрадывф рывфдлоар ывдофа ывфа
                ф ывдаорвыдфоар вдыфрадвыф арфда дфавордвыфлоар
            </div>
            <p class="text-muted">5.01.2014 <a href="#">Комментировать</a></p>
        </div>
    </section>
</div>


{% endblock %}
