{% extends 'proto/base_inner.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <img src="http://dummyimage.com/220x220" class="img-circle"/>
            </div>
            <div class="col-md-8">
                <h3>Юзер Юзеровский<br/><small>Москва, Россия</small></h3>
                <p><b>О себе:</b> fdkljds;lfsad;klf df;lv ;fkdslhsdflj hdslfkhsdlfj dsljfghsdflg hdslgh sldf sdlf</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
