{% extends 'base_inner.html' %}
{% load crispy_forms_tags %}
{% load proj_core %}
{% block title %}Профиль{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <p>
                <img src="{% avatar object 200 %}" class="img-circle profile-avatar"/>
                </p>
                {% if object.id != user.id %}
                    {% if not object in user.friends.all %}
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="follow-user" value="{{ object.id }}">
                            <button type="submit" class="btn">
                                <i class="fa fa-star"></i> Подписаться
                            </button>
                        </form>
                    {% else %}
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="follow-user" value="{{ object.id }}">
                            <i class="fa fa-star"></i> Вы подписаны на {{ object.full_name }}.
                            <button type="submit" class="btn btn-link">
                                Отписаться
                            </button>
                        </form>
                    {% endif %}
                {% endif %}

            </div>
            <div class="col-md-8">
                <h3>{{ object.full_name }}
                    {% if object.id == user.id %}<small>(это вы) <a href="{% url 'user_profile' %}">Ред.</a></small>{% endif %}
                    <br/><small>Москва, Россия</small></h3>
                {% if object.about %}
                <p><b>О себе:</b> {{ object.about }}</p>
                {% endif %}
                {% if object.contacts.all %}
                    <hr/>
                    <h5>Контакты</h5>
                    <p>
                    {% for contact in object.contacts.all %}
                        {% if contact.public %}
                            <b>{{ contact.get_type_display }}:</b> {{ contact.value }}<br/>
                        {% endif %}
                    {% endfor %}
                    </p>
                {% endif %}

                {% if object.tags.all %}
                    <p><i class="fa fa-tags"></i> Метки:
                        {% for tag in object.tags.all %}
                        <a href="#"><span class="label label-warning">{{ tag.name }}</span></a>
                        {% endfor %}
                    </p>
                {% endif %}

                <a href="{% url 'message_modal' object.id %}" class="message-modal btn btn-default">
                    <i class="fa fa-envelope-o"></i> Написать сообщение
                </a>
            </div>
        </div>
    </div>
</div>


{% for post in userfeed %}
{% include 'includes/feed.html' %}
{% empty %}
<div class="panel panel-default">
    <section class="panel-body media">
        <div class="alert alert-warning">
            Здесь будут размещаться последние записи пользователя {{ object.full_name }}.
        </div>
    </section>
</div>
{% endfor %}

{% endblock %}
