{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Вход{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
    {% crispy loginform %}
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h5 class="panel-title">Впервые у нас? Присоединяйтесь!</h5>
    </div>
    <div class="panel-body">
    {% crispy regform %}
    </div>
</div>

    {% load ulogin_tags %}
    {% ulogin_widget %}
{% endblock %}
