{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load ulogin_tags %}

{% block title %}Вход{% endblock %}

{% block commoncontent %}
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">Taskz</a>
            </div>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="#about">О проекте</a></li>
                    <li><a href="#howitworks">Как это работает?</a></li>
                    <li><a href="#contact">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="full-back">
        <br/><br/>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-8">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% crispy loginform %}
                            {% ulogin_widget %}
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">Впервые у нас? Присоединяйтесь!</h5>
                        </div>
                        <div class="panel-body">
                            {% crispy regform %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <footer class="navbar navbar-default navbar-static-bottom">
        <div class="container">
            <p class="navbar-text">&copy; 2014</p>
        </div>
    </footer>

{% endblock %}
