{% extends 'base_inner.html' %}
{% load crispy_forms_tags %}

{% block title %}Проект{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{% url 'project_list' %}">Проекты</a></li>
        <li class="active">Редактирование</li>
    </ul>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Редактирование проекта</h4>
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
