{% extends 'base_inner.html' %}
{% load thumbnail %}

{% block title %}Лента{% endblock %}

{% block content %}

{% with object as post %}
<div class="panel panel-default">
    <section class="panel-body media">
        {% if post.community %}
        <a href="{% url 'user_detail' post.sender.id %}" class="media-object pull-left">
            <img src="{% if post.community.image %}{{ MEDIA_URL }}{{ post.community.image }}{% else %}http://dummyimage.com/80x80{% endif %}"
                 class="img-circle feed-avatar"/>
        </a>
        {% else %}
        <a href="{% url 'user_detail' post.sender.id %}" class="media-object pull-left">
            {% thumbnail post.sender.avatar '80x80' crop='center' as im %}
                <img src="{{ im.url }}"
                     class="img-circle feed-avatar"/>
            {% empty %}
                <img src="{{ post.sender.gravatar }}"
                 class="img-circle feed-avatar"/>
            {% endthumbnail %}
        </a>
        {% endif %}
        <div class="media-body">
            {% if post.community %}
                <a href="{% url 'user_detail' post.sender.id %}">
                    {{ post.community.name }}
                </a>
            {% else %}
                <a href="{% url 'user_detail' post.sender.id %}">
                    {{ post.sender.full_name }}
                </a>
            {% endif %}
            <div class="feed-post-content">
                {{ post.content|safe }}
            </div>

            <p class="text-muted">

                {% if post.community %}
                    <a href="{% url 'user_detail' post.sender.id %}" class="text-muted">
                        <i class="fa fa-user"></i> {{ post.sender.full_name }}
                    </a> |
                {% endif %}
                {{ post.date }}
            </p>
            <hr/>

            <h4>Комментарии ({{ post.comments.count }})</h4>


            {% for comment in post.comments.all %}
                <a name="c{{ comment.id }}"></a>
                <div class="media">
                    <a href="{% url 'user_detail' comment.user.id %}" class="media-object pull-left">
                        <img src="{{ comment.user.avatar_url }}"
                             class="img-circle feed-avatar"/>
                    </a>
                    <div class="media-body">
                        <a href="{% url 'user_detail' comment.user.id %}">
                            {{ comment.user.full_name }}
                        </a>
                        <div class="feed-post-content">
                            {{ comment.comment|linebreaks }}
                        </div>
                        <p class="text-muted">
                            {{ comment.submit_date }}
                        </p>
                    </div>
                </div>

            {% endfor %}


        </div>
    </section>
</div>

{% endwith %}
{% endblock %}
