{% extends 'base_inner.html' %}

{% block title %}Лента{% endblock %}

{% block content %}
<ul class="nav nav-pills compact">
    <li{% if not getparam %} class="active"{% endif %}>
        <a href="{% url 'feed_list' %}">Все</a>
    </li>
    <li{% if getparam == 'people' %} class="active"{% endif %}>
        <a href="{% url 'feed_list' %}?from=people">Люди</a>
    </li>
    <li{% if getparam == 'communities' %} class="active"{% endif %}>
        <a href="{% url 'feed_list' %}?from=communities">Сообщества</a>
    </li>
</ul>

{% for post in object_list %}
{% include 'includes/feed.html' %}
{% empty %}
<div class="panel panel-default">
    <section class="panel-body media">
        <div class="alert alert-warning">
            Здесь будут размещаться последние записи сообществ и людей, на которых вы подписаны.
        </div>
    </section>
</div>
{% endfor %}
{% include 'includes/pagination.html' %}
{% endblock %}
